node_modules
dist
.DS_Store
*.local
.env
.env.*
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
android/*.iml
android/.idea
ios/App/Pods
ios/App/build
ios/DerivedData
server/data
*.sqlite
*.sqlite-*
